<% provide :title, 'Stories' %>
<p id="notice"><%= notice %></p>

<h1>Your Stories</h1>
<hr>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>

        <tr>
          <a href="<%= album_photos_path(album) %>">
            <% if album.photos.empty? %>
              <%= link_to "Add Photos", album_photos_path(album) %>
            <% else %>
              <%= image_tag album.photos.last.image.url(:medium), class: "img-responsive" %>
            <% end %>
          </a>
        </tr>
        <tr>
          <h3><%= album.title %></h3>
        </tr>
        <tr>
          <p>
            <%= album.description %>
          </p>
        </tr>
      <tr>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Remove', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_album_path, class: "btn btn-success" %>
