<div class="row">

  <% provide :title, 'Stories' %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <%= link_to 'New Story', new_album_path, class: "btn btn-success" %>
  <h1>Your Stories</h1>
</div>

<div class="row">

  <% @albums.each do |album| %>
    <div class="photo-block">
      <a href="<%= album_photos_path(album) %>">
        <% if album.photos.empty? %>
        <%= link_to image_tag('placeholder.png', class: "img-responsive", style:"width: 300px;"), album_photos_path(album) %>
        <% else %>
        <%= image_tag album.photos.last.image.url(:medium), class: "img-responsive" %>
        <% end %>
      </a>
      <h3><%= album.title %></h3>
      <p>
        <%= album.description %>
      </p>
      <%= link_to 'Edit', edit_album_path(album) %>
      <%= link_to 'Remove', album, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  <% end %>
</div>
