<h1>Editing Photo</h1>
<%= image_tag @photo.image.url(:large) %>

<p>
  Photo ID: <%= @photo.id %>
</p>
<a href="#" id="title" data-type="text" data-resource="post" data-name="title" data-url="<%= album_photo_path %>" class="editable editable-click" data-original-title="Enter Title"><%= @photo.title %></a>
<a href="#" id="description" data-type="textarea" data-resource="post" data-name="description" class="editable editable-click" data-url="<%= album_photo_path %>" data-original-title="Enter body">
  <%= textarea_format(@photo.description) %>
</a>
<%= simple_form_for [@album, @photo] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit, "Submit", class: "btn btn-normal" %>
<% end %>

<%= link_to 'Back', :back %>
