<h1>Editing Photo</h1>
<%= image_tag @photo.image.url(:large) %>

<p>
  Photo ID: <%= @photo.id %>
</p>

<%= simple_form_for [@album, @photo] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit, "Submit", class: "btn btn-normal" %>
<% end %>

<%= link_to 'Back', :back %>
