<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image.url(:medium) %> </td>
        <td><%= link_to 'Show', album_photo_path(id: photo) %></td>
        <td><%= link_to 'Edit', edit_album_photo_path(id: photo) %></td>
        <td><%= link_to 'Destroy', album_photo_path(id: photo), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_album_photo_path %>
