
<h1>
<%= @album.title %>
</h1>
<hr>
<p>
  <%= @album.description %>
</p>
<hr>

<p>

 <button type="btn btn-success" name="button" id="add-photos">Add Photos</button>
</p>
<div class="add-photos hidden">
  <%= render 'form' %>
</div>
<div class="grid">

<div id="masonry-container" class="">
  <% if current_user.id == @album.user_id %>

  <%= render 'index' %>
  <% else %>
  <%= render 'visitor_index' %>
<% end %>

</div>
  <p class="test"></p>
</div>
