
       <!-- Sidebar -->
       <div class="nav nav-bar" id="sidebar-wrapper">
           <ul class="sidebar-nav nav nav-pills nav-stacked">
               <li class="sidebar-brand">
                   <a href="#">
                       PhotoShare
                   </a>
               </li>
              <% if signed_in? %>
               <li>
                   <a href="<%= current_user %>">Dashboard</a>
               </li>
               <li>
                   <a href="<%= root_path %>">My Albums</a>
               </li>
               <li>
                   <a href="<%= new_album_path %>">New Album</a>
               </li>
               <li>
                   <%= link_to 'Sign Out', logout_path, method: :delete %>
               </li>
              <% else %>
              <li>
                  <a href="<%= login_path %>">Log In</a>
              </li>
              <li>
                  <a href="<%= new_user_path %>">Sign Up</a>
              </li>

              <% end %>
               <li>
                   <a href="<%= albums_path %>">Explore</a>
               </li>

           </ul>
       </div>
       <!-- /#sidebar-wrapper -->
